body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom, #60a3bc, #afbfd8);
}

.card {
  border-radius: 5px;
}

.btn-primary {
  background-color: #1B4F72;
  border-color: #1B4F72;
}

.btn-primary:hover {
  background-color: #1B4F72;
  border-color: #1B4F72;
}

.btn-primary:focus {
  box-shadow: none;
}

.navbar {
  margin-bottom: 30px;
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
}

.invalid-feedback {
  display: block;
  color: red;
}


.nav-item a {
  color: #fff;
  position: relative;
  top: 3px;
  font-size: 15px;
  text-transform: uppercase;
}
